<% /* receives item */ %>
<main>
  <header class="relative isolate">
    <div aria-hidden="true" class="absolute inset-0 -z-10 overflow-hidden">
      <div class="absolute left-16 top-full -mt-16 transform-gpu opacity-30 blur-3xl xl:left-1/2 xl:-ml-80">
        <div style="clip-path: polygon(100% 38.5%, 82.6% 100%, 60.2% 37.7%, 52.4% 32.1%, 47.5% 41.8%, 45.2% 65.6%, 27.5% 23.4%, 0.1% 35.3%, 17.9% 0%, 27.7% 23.4%, 76.2% 2.5%, 74.2% 56%, 100% 38.5%)" class="aspect-[1154/678] w-[72.125rem] bg-gradient-to-br from-[#FF80B5] to-[#9089FC]"></div>
      </div>
      <div class="absolute inset-x-0 bottom-0 h-px bg-white/5"></div>
    </div>

    <div class="mx-auto max-w-7xl px-4 py-10 sm:px-6 lg:px-8">
      <div class="mx-auto flex max-w-2xl items-center justify-between gap-x-8 lg:mx-0 lg:max-w-none">
        <div class="flex items-center gap-x-6">
          <h1 class="text-center text-2xl/9 font-bold tracking-tight text-white"><%= item.title %></h1>
        </div>
        <div class="flex items-center gap-x-4 sm:gap-x-6">
          <% if (isAuthenticated) { %>
          <a href="/films/<%= item.film_id %>/available" class="rounded-md bg-indigo-500 px-3 py-2 text-sm font-semibold text-white hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Reserveren</a>
          <% } %>
        </div>
      </div>
    </div>
  </header>

  <div class="mx-auto max-w-7xl px-4 py-16 sm:px-6 lg:px-8">
    <div class="mx-auto grid max-w-2xl grid-cols-1 grid-rows-1 items-start gap-x-8 gap-y-8 lg:mx-0 lg:max-w-none lg:grid-cols-3">
      <div class="lg:col-start-3 lg:row-end-1">
        <h2 class="sr-only">Summary</h2>
        <div class="rounded-lg bg-gray-800/50 outline outline-1 -outline-offset-1 outline-white/10">
          <dl class="flex flex-wrap">
            <div class="flex-auto pl-6 pt-6">
              <dt class="text-sm/6 font-semibold text-white">Rental rate</dt>
              <dd class="mt-1 text-base font-semibold text-white"><%= item.rental_rate %>$</dd>
            </div>
            <div class="flex-none self-end px-6 pt-4">
              <dt class="sr-only">Status</dt>
              <dd class="rounded-md bg-green-500/10 px-2 py-1 text-xs font-medium text-green-500 ring-1 ring-inset ring-green-500/30">Availabe</dd>
            </div>
          </dl>
          <div class="mt-6 border-t border-white/10 px-6 py-6">
            <p class="text-sm/6 font-semibold text-white">Replacement cost</p>
            <p class="mt-1 text-base font-semibold text-white"><%= item.replacement_cost %>$</p>
          </div>
        </div>
      </div>

      
      <div class="lg:col-span-2 lg:row-span-2 lg:row-end-2">
        <img
            src="https://picsum.photos/seed/<%= item.film_id %>/1000/1500"
            alt="<%= item.title %> poster"
            class="pointer-events-none w-full aspect-[2/3] rounded-lg object-cover outline outline-1 -outline-offset-1 outline-white/10 group-hover:opacity-75"
        />
        <div class="-mx-4 px-4 py-8 mt-4 ring-1 ring-white/10 sm:mx-0 sm:rounded-lg sm:px-8 sm:pb-14 xl:px-16 xl:pb-20 xl:pt-16">
        <h2 class="text-base font-semibold text-white">Description</h2>
        <p class="text-sm/6 text-white mt-2"><%= item.description %></p>
        <div aria-hidden="true" class="w-full border-t border-white/15 my-8"></div>
        <h2 class="text-base font-semibold text-white">Release year</h2>
        <p class="text-sm/6 text-white mt-2"><%= item.release_year %></p>
        <div aria-hidden="true" class="w-full border-t border-white/15 my-8"></div>
        <h2 class="text-base font-semibold text-white">Language</h2>
        <p class="text-sm/6 text-white mt-2"><%= item.language %></p>
        <div aria-hidden="true" class="w-full border-t border-white/15 my-8"></div>
        <h2 class="text-base font-semibold text-white">length</h2>
        <p class="text-sm/6 text-white mt-2"><%= item.length %> minutes</p>
        <div aria-hidden="true" class="w-full border-t border-white/15 my-8"></div>
        <h2 class="text-base font-semibold text-white">special features</h2>
        <p class="text-sm/6 text-white mt-2"><%= item.special_features %></p>
      </div>
      </div>
      

      <div class="lg:col-start-3">
        <h2 class="text-sm/6 font-semibold text-white">Actors</h2>
        <ul>
        <% item.actors.forEach(a => { %>
            <li class="flex gap-x-4 py-5">
            <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" class="size-12 flex-none rounded-full bg-gray-800 outline outline-1 -outline-offset-1 outline-white/10" />
            <div class="min-w-0 flex items-center">
            <a class="text-sm/6 font-semibold text-white" href="/actors/<%= a.id %>"><%= a.name %></a>
            </div>
        </li>
            <li>
            
            </li>
        <% }) %>
        </ul>
      </div>
    </div>
  </div>
</main>

