
<div class="mx-auto flex flex-col items-end gap-5 max-w-7xl items-center justify-between gap-x-6 p-6 lg:px-8">
<form method="post" action="/users/edit">
  <div class="space-y-12">
    <div class="border-b border-white/10 pb-12">
      <h1 class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-white">Edit account</h1>
      <% if (error) { %>
        <div class="rounded-md bg-red-500/15 p-4 outline outline-1 outline-red-500/25 my-5">
          <div class="flex">
            <div class="shrink-0">
              <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="size-5 text-red-400">
                <path d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16ZM8.28 7.22a.75.75 0 0 0-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 1 0 1.06 1.06L10 11.06l1.72 1.72a.75.75 0 1 0 1.06-1.06L11.06 10l1.72-1.72a.75.75 0 0 0-1.06-1.06L10 8.94 8.28 7.22Z" clip-rule="evenodd" fill-rule="evenodd" />
              </svg>
            </div>
            <div class="ml-3">
              <h3 class="text-sm font-medium text-red-200"><%= error.message %></h3>
            </div>
          </div>
        </div>
        <% } %>
      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        <div class="sm:col-span-3">
          <label for="first_name" class="block text-sm/6 font-medium text-white">First name</label>
          <div class="mt-2">
            <input id="first_name" type="text" name="first_name" autocomplete="given-name" value="<%= (user && user.first_name) || '' %>" class="block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6" />
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="last_name" class="block text-sm/6 font-medium text-white">Last name</label>
          <div class="mt-2">
            <input id="last_name" type="text" name="last_name" autocomplete="family-name" value="<%= (user && user.last_name) || '' %>" class="block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6" />
          </div>
        </div>

        <div class="sm:col-span-4">
          <label for="email" class="block text-sm/6 font-medium text-white">Email address</label>
          <div class="mt-2">
            <input id="email" type="email" name="email" autocomplete="email" value="<%= (user && user.email) || '' %>" class="block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6" />
          </div>
        </div>

        <div class="col-span-full">
          <label for="phone" class="block text-sm/6 font-medium text-white">Phone Number</label>
          <div class="mt-2">
            <input id="phone" name="phone" type="phone" autocomplete="phone" value="<%= (user && user.phone) || '' %>" class="block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6" />
          </div>
        </div>

        <div class="col-span-full">
          <label for="password" class="block text-sm/6 font-medium text-white">Password</label>
          <div class="mt-2">
            <input id="password" name="password" type="password" class="block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-6 flex items-center justify-end gap-x-6">
    <button class="rounded-md bg-indigo-500 px-3 py-2 text-sm font-semibold text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Save changes</button>
  </div>
</form>

</div>

